
<html>
    <body>
        <p>querido usuario {{ usuario.nombreUsuario }}</p>
        <p>
            para cambiar tu contraseña
            <a href="{{ url_for('reset_password', token = token , _external = True) }}">
                click aqui.
            </a>
        </p>
        <p>tambien puede copiar el siguiente link  y pegar en la barra de busqueda de su navegador</p>
        <p>{{ url_for('reset_password', token = token, _external= True)}}</p>
        <p>Si no requiere un cambio de contraseña solamente ignore este mensaje.</p>
        <p>sinceramente,</p>
        <p>El equipo de SisgaBlog. </p>
    </body>
</html>