{% extends "base.html" %}
{% import "boostrap.html" as wtf %}

{% block content %}
    <h1>Hola, {{current_user.nombreUsuario}} </h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span arial-hidden="true">&larr;</span> nuevos posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Viejos posts<span arial-hidden="true">&larr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}