{% extends "base.html" %}
{% block content %}
    <h1>Reiniciar contraseña </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.contrasena.label }} <br>
            {{ form.contrasena(size=32 )}} <br>
            {% for error in form.contrasena.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contrasena2.label }} <br>
            {{ form.contrasena2(size = 32) }} <br>
            {% for error in form.contrasena2.errors %}
            <span style="color: red;;"[{{ error }}]></span>
            {% endfor %}
        </p>
        <p>{{ form.enviar() }}</p>
    </form>
{% endblock %}