<div>
    <img src="{{ usuario.avatar(64) }}" style="margin: 5px; float: left">
    <p><a href="{{ url_for('main.usuario', nombreUsuario=usuario.nombreUsuario) }}">{{ usuario.nombreUsuario }}</a></p>
    {% if usuario.acerca_mi %}<p>{{ usuario.acerca_mi }}</p>{% endif %}
    <div class="clearfix"></div>
    {% if usuario.ultima_conexion %}
    <p>{{ _('ultima conexion hace') }}: {{ moment(usuario.ultima_conexion).format('lll') }}</p>
    {% endif %}
    <p>{{ _('%(count)d seguidores', count=usuario.followers_count()) }}, {{ _('%(count)d following', count=usuario.following_count()) }}</p>
    {% if usuario != current_user %}
        {% if not current_user.is_following(usuario) %}
    <p>
        <form action="{{ url_for('main.follow', nombreUsuario=usuario.nombreUsuario) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.enviar(value=_('Seguir'), class_='btn btn-outline-primary btn-sm') }}
        </form>
    </p>
        {% else %}
    <p>
        <form action="{{ url_for('main.unfollow', nombreUsuario=usuario.nombreUsuario) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.enviar(value=_('dejar de seguir'), class_='btn btn-outline-primary btn-sm') }}
        </form>
    </p>
        {% endif %}
    {% endif %}
</div>