{% extends "base.html" %}
{% block content %}
    <table>
        <tr valign = "top">
            <td><img src="{{ usuario.avatar(128) }}" alt="avatar"></td>
            <td>
                <h1>{{ _('Usuario') }}: {{usuario.nombreUsuario }}</h1>
                {% if usuario.acerca_mi %} <p> {{ usuario.acerca_mi }}</p>{% endif %}
                {% if usuario.ultima_conexion %} <p>{{_('Ultima conexion')}}: {{ moment(usuario.ultima_conexion).format('LLL') }}</p>{% endif %}
                <p>{{ usuario.followers_count() }} {{ _('seguidos') }}:, {{ usuario.following_count() }} {{ _('seguidores') }}</p>
                {% if usuario == current_user %}
                <p><a href="{{ url_for('main.editar_perfil') }}">{{ _('Editar perfil') }}</a></p>
                {% elif not current_user.is_following(usuario) %}
                <p>
                    <form action="{{ url_for('main.follow', nombreUsuario = usuario.nombreUsuario) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.enviar(value= 'follow')}}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', nombreUsuario = usuario.nombreUsuario) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.enviar(value= 'main.unfollow')}}
                    </form>
                </p>
                {% endif%}
            </td>
        </tr>
    </table>
    <h1> {{ _(Usuario) }}: {{ usuario.nombreUsuario }}</h1>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">{{ _('nuevos posts') }} </a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">{{ _('Viejos posts') }} </a>
    {% endif %}
{% endblock %}

